<!DOCTYPE html>
<html>

<head>

    <title>{{ page_title }}</title>

    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
          href="/static/css/style.css">

    {% block head %}
    {% endblock %}

</head>

<body>

<div class="container">

    <div class="sidebar">

        {% for group in navigation %}

        <div>

            <div
                    class="menu-title"
                    onclick="toggleMenu('{{ loop.index }}')">

                {{ group.title }}

            </div>

            <div
                    id="submenu-{{ loop.index }}"
                    class="submenu">

                {% for item in group["items"] %}

                <a href="{{ item.url }}">
                    {{ item.name }}
                </a>

                {% endfor %}

            </div>

        </div>

        {% endfor %}

    </div>

    <div class="main">

        {% block content %}
        {% endblock %}

    </div>

</div>

<!-- 여기 아래에 모바일 nav 추가 -->

<div id="mobileNav" class="mobile-nav">

    <div id="mobileNavContent"
         class="mobile-nav-content">

    </div>

</div>

<script id="navigation-data"
        type="application/json">

    {{ navigation | tojson | safe }}

</script>

<script src="/static/js/sidebar.js"></script>

{% block scripts %}
{% endblock %}

</body>

</html>
